#backgroundGaleria {
    background-color: $colorGaleria;
    background-image: url(../img/backgroundGaleria.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    @extend .background;
    
    & .imgGaleria {
        margin: 1rem 0rem;
        border-radius: 55px;
    }
}