#backgroundGanadores {
    background-color: #b8bbae;
    background-image: url(../img/backgroundGanadores.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width:768px) {
        background-image: none;
    }

    & .flexGanadores {
        display: flex;
        align-items: center;

        & .imgGanadores {
            width: 50%;
            margin: 1rem 0rem;
            border-radius: 50%;
        }

        & .textoGanadores {
            margin-left: 1rem;
            font-size: 1rem;
            color: $colorParrafo;
        }
    }
}