#backgroundIndex {
    background-color: $colorAmarillo;
    background-image: url(../img/backgroundIndex.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    @extend .background;

    & #flexIndex {
        display: flex;
        align-items: center;

        & #textoIndex {
            padding-top: 1rem;

            & #tituloIndex {
                font-size: 1.8rem;
            }

            & #subtituloIndex {
                font-size: 1.2rem;
            }
        }

        & #iframeIndex{
            margin-top: 1rem;
            
            @media only screen and (max-width:768px) {
                margin-bottom: 1rem;
            }
        }

        & #carrusel{
            padding-bottom: 1rem;
            
            & #subtituloCarrusel{
                text-align: center;
            }
        }
    }
}