#backgroundInscribirme {
    background-color: $colorInscribirme;
    background-image: url(../img/backgroundInscribirme.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    @extend .background;

    & #tituloInscribirme {
        text-align: center;
        padding-top: 1rem;
    }

        & #parrafoInscribirme {
            text-align: center;
            padding-bottom: 1rem;
            color: $colorEncabezado;
        }

            & label {
                font-family: $fuenteParrafo;
                font-weight: bold;
                color: $colorEncabezado;
            }

            & .form-control {
                background-color: rgba(172, 187, 194, 0.877) !important;
                border: 0;
            }

            & .form-control:focus {
                box-shadow: none !important;
                border-color: #ced4da !important;
            }
            

            & textarea {
                resize: none;
            }

            & input[type="text"]:valid, input[type="number"]:valid, select:valid, textarea:valid{
                background-color: $colorSuccessForm !important;
                color: white !important;
            } 

            & ::placeholder {
                color: #484159 !important;
            }
            
        & input[type="submit"] {
            width: 100%;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bolder;
            border: 0;
            background: #ec8f8f;
            color: white;
        }
        
        & input[type="submit"]:hover {
            background-color: rgb(224, 125, 11);
            color: white;
        } 

        & input[type="submit"]:active {
            box-shadow: none;
            background-color: $colorSuccessForm !important;
            color: white !important;
        }
}















