.navbar-dark {
    background-image: linear-gradient(#f59d9dee, #ff0011);

    & img {
        width: 100%;
        max-width: 90px;
    }

    & .navbar-nav {
        margin-top: 3rem;

        & .nav-item {
            font-size: 1.3rem;
            font-family: $fuenteParrafo;
            font-weight: bold;

            & .nav-link {
                color: #ffff !important;
            }

            :hover {
                color: $colorAmarillo !important;
            }

            :active {
                color: $colorEncabezado !important;
            }

        }
    }
}