#backgroundNoticias {
    background-color: $colorAmarillo;

    & .flexNoticia {
        display: flex;
        align-items: center;

        @media only screen and (max-width:768px) {
            padding-top: 1rem;
        }

        & .imgNoticia {
            border-radius: 55px;
        }

        & .parrafoNoticia {
            padding-top: 1rem;
            padding-bottom: 1rem;

            & .tituloNoticia {
                font-size: 1.3rem;
            }

        }

        & .parrafoNoticiaImpar {
            order: -1;

            @media only screen and (max-width:768px) {
                order: 1;
            }
        }

    }

    & #fondoNoticiaUno {
        background-color: $colorNoticiaUno;
        background-image: url(../img/fondoNoticiaUno.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        @extend .background;
    }

    & #fondoNoticiaDos {
        background-color: $colorAmarillo;
        background-image: url(../img/fondoNoticiaDos.jpg);
        background-size: cover;
        @extend .background;
    }

    & #fondoNoticiaTres {
        background-color: $colorNoticiaTres;
        background-image: url(../img/fondoNoticiaTres.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        @extend .background;
    }

    & #fondoNoticiaCuatro {
        background-color: $colorNoticiaCuatro;
        background-image: url(../img/fondoNoticiaCuatro.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        @extend .background;
    }
}