// COLORES

$colorEncabezado: #ec8f8f;
$colorParrafo: #950101;
$colorAmarillo: #f7de82;
$colorNoticiaUno: #293133;
$colorNoticiaTres: #c08c5c;
$colorNoticiaCuatro: #e8813e;
$colorGaleria: #298787;
$colorGanadores: #b8bbae;
$colorInscribirme: #484159;
$colorSuccessForm: rgba(1, 252, 43, 0.514);

// FUENTES

$fuenteTitulo: 'Lato',
sans-serif;
$fuenteSubtitulo: 'Open Sans',
sans-serif;
$fuenteParrafo: 'Roboto',
sans-serif;