
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

@import "variables";
@import "nav";
@import "footer";
@import "encabezados";
@import "index";
@import "noticias";
@import "galeria";
@import "ganadores";
@import "inscribirme";

// HEADER

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

// EXTEND

.background{
    @media only screen and (max-width:768px){
        background-image: none;
    }
}

/* TÍTULOS, SUBTÍTULOS, PÁRRAFOS */

// MIXIN

@mixin fuentes($size, $family, $color) {
    font-size: $size;
    font-family: $family;
    color: $color;
}

h1 {
    @include fuentes(2rem, $fuenteTitulo, $colorEncabezado);
    font-weight: bold;
}

h2 {
    @include fuentes(1.5rem, $fuenteSubtitulo, $colorEncabezado);
    font-weight: bold;
}

p {
    @include fuentes(1rem, $fuenteParrafo, $colorParrafo);
    text-align: justify;
}
