
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

@import "variables";
@import "nav";
@import "footer";
@import "encabezados";
@import "index";
@import "noticias";
@import "galeria";
@import "ganadores";
@import "inscribirme";

// HEADER

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* TÍTULOS, SUBTÍTULOS, PÁRRAFOS */

h1 {
    font-size: 2rem;
    font-family: $fuenteTitulo;
    font-weight: bold;
    color: $colorEncabezado;
}

h2 {
    font-size: 1.5rem;
    font-family: $fuenteSubtitulo;
    font-weight: bold;
    color: $colorEncabezado;
}

p {
    font-size: 1rem;
    font-family: $fuenteParrafo;
    text-align: justify;
    color: $colorParrafo;
}
